.approval-attendance-list,
.approval-expense-list {
    .row-pending {
        background-color: #ffffff;
    }

    .row-approved {
        background-color: #e8f5e9;
    }

    .row-rejected {
        background-color: #ffebee;
    }
}